# Tuples
## Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
# A list can be converte into a Tuple
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
#A tuple can be converted into a List
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

## Accessing Tuple Elements

In [12]:
numbers = (2, 1, 9,4, 3, 6, 10,18, 11, 13)

In [13]:
print(numbers[2])
print(numbers[-1])

9
13

In [14]:
numbers[0:4]

(2, 1, 9, 4)

In [15]:
numbers[::-1]

(13, 11, 18, 10, 6, 3, 4, 9, 1, 2)

In [ ]:
my_tuple =( 91,2,3,1,10,5,6,7,3,2 ) #  Duplicate Allowed
my_tuple

(91, 2, 3, 1, 10, 5, 6, 7, 3, 2)

In [18]:
my_list = [91,2,3,1,10,5,6,7,3,2] # Duplicate Allowed
my_list

[91, 2, 3, 1, 10, 5, 6, 7, 3, 2]

In [19]:
mixed_tuple=(1,"Hello World",3.14, True)
mixed_tuple

(1, 'Hello World', 3.14, True)

In [20]:
numbers

(2, 1, 9, 4, 3, 6, 10, 18, 11, 13)

## Tuple Operations

In [21]:
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(2, 1, 9, 4, 3, 6, 10, 18, 11, 13, 1, 'Hello World', 3.14, True)

In [22]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

# Entire Tuple is repeted 3 times

In [24]:
my_tuple = (1,2,3,4,5)
my_tuple

(1, 2, 3, 4, 5)

In [26]:
my_tuple * 2 # tuple will be repeated twice

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

In [27]:

lst=[1,2,3,4,5]
print(lst)

lst[1]="Pritam"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Pritam', 3, 4, 5]

In [42]:
tpl2 = (1,2,3,"Pritam", 3.14)
tpl2

(1, 2, 3, 'Pritam', 3.14)

In [44]:
tpl2[1] = 0
tpl2

TypeError: 'tuple' object does not support item assignment

## This is the example that Tuples are immutable, meaning their elements cannot be changed once assigned.

# BUT THERE IS AN WORK AROUNd

In [45]:
tpl

(1, 2, 3, 'Pritam', 3.14)

In [46]:
my_lst = list(tpl)
my_lst[1] = 0
my_lst

[1, 0, 3, 'Pritam', 3.14]

In [ ]:
tuple # Somewhere this value is present 
del tuple # So deleting this

In [52]:
tuple(my_lst) #Now we can see the tuple is updated

(1, 0, 3, 'Pritam', 3.14)

In [30]:
numbers

(2, 1, 9, 4, 3, 6, 10, 18, 11, 13)

In [54]:
## Tuple Methods
print(numbers.count(1)) # How many number of times 1 is present
print(numbers.index(3)) # What is the index of number 3 , only the first occurance

1
4

In [55]:
## Tuple Methods
print(numbers.count(4)) # How many number of times 4 is present
print(numbers.index(11)) # What is the index of number 11 , only the first occurance

1
8

In [56]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [57]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [58]:
##unpacking a tuple
a,b,c,d=packed_tuple

print(a)
print(b)
print(c)

ValueError: not enough values to unpack (expected 4, got 3)

In [62]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers # We are using 3 variables to unpack the Tuple
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [63]:
##unpacking a tuple
packed_tuple=1,"Hello",3.14,99
a,*b,c=packed_tuple

print(a)
print(b)
print(c)

1
['Hello', 3.14]
99

In [65]:

## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [66]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [67]:
## Nested Tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [68]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

# Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.