# Sets
Sets are a built-in data type in Python used to store collections of unique items. 
They are '''unordered'''', meaning that the elements do not follow a specific order, and 
they ''' do not allow duplicate elements'''. 
Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [3]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

# Remove a duplicate from a List

In [4]:
my_list = [1,2,3,4,5,1,2,3,4,5,6]
my_list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6]

In [5]:
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [6]:
updated_list = list(my_set)
print(updated_list)

[1, 2, 3, 4, 5, 6]

In [7]:
# Remove Duplicate from a Tuple
my_tuple = (1,2,3,4,5,6,1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5)

In [8]:
my_set1 = set(my_tuple)
print(my_set1)

{1, 2, 3, 4, 5, 6}

In [9]:
new_tuple = tuple(my_set1)
print(my_set1)

{1, 2, 3, 4, 5, 6}

## Basics Sets Operation

In [11]:
## Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

In [12]:
my_set.remove(7)

KeyError: 7

In [14]:
my_set.discard(7) # so that if the element is not present, that should not throw an error
print(my_set)

{1, 2, 3, 4, 5, 6}

In [18]:
my_set= {1,2,3,4,5}
## pop method
# As Set is unordered, so any element can be removed from the set
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [19]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [20]:
## Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [21]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [22]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 
print(set1.difference(set2))

{1, 2, 3}

In [23]:
print(set2.difference(set1))

{8, 9, 7}

In [24]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [25]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [26]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [27]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'are', 'sets', 'In', 'tutorial', 'we', 'discussing', 'about', 'this'}
8

In [33]:
### Counting Unique numbers in list
my_list = [1,2,3,1,24,5,6,5,6,7,8,9,8,9]
my_set = set(my_list)
my_new_list = list(my_set)
print(my_new_list)
print("unique number in the list is {}".format(len(my_set)))

[1, 2, 3, 5, 6, 7, 8, 9, 24]
unique number in the list is 9

# Conclusion
Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. 
They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. 
Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.