# Lambda Functions in Python
Lambda functions are small anonymous functions defined using the lambda keyword.

anonymous function : It means a function without a name.
we should have the keyword as lambda

They can have any number of arguments but only one expression. 
One expression means : one Logic

They are commonly used for short operations or as arguments to higher-order functions.

In [1]:
#Syntax
lambda arguments: expression

# Lets create a function

In [2]:
def addition(a,b):
    return a+b

In [3]:
addition(2,4)

6

# This is a basic function where we have written one basic logic or operation here

In [6]:
addition=lambda a,b:a+b # lambda ( anonymous ) (keyword), argument(a,b), expression/logic/opration (a+b)
type(addition)
print(addition(5,6))

11

# Another Example

In [7]:
def even(num):
    if num%2==0:
        return True
    
even(24)

True

In [10]:
even1=lambda num:num%2==0 # lambda | argument | logic

In [11]:
even1(12)

True

In [12]:
even1(9)

False

# Another Example

In [13]:
def addition(x,y,z):
    return x+y+z

addition(12,13,14)

39

In [14]:
addition1=lambda x,y,z:x+y+z

In [15]:
addition1(12,13,14)

39

In [16]:
addition1(120,10,14)

144

# Another Example

In [ ]:


def square(number):
    return number**2

In [20]:
square(2)

4

In [22]:
square(6)

36

# map()- applies a function to all items in a list

In [23]:
numbers=[1,2,3,4,5,6]
# Lets say we have a list of numbers and I want to get the square of all the list numbers
def square(number):
    return number**2

In [24]:
square(3)

9

# But we can see the square of just a number

# What we can do is :

In [35]:

op = []
# Lets say we have a list of numbers and I want to get the square of all the list numbers
def list_square(my_list):
    
    for i in range(1,len(my_list)+1):
        op.append(i**2)
    return op

In [36]:
numbers=[1,2,3,4,5,6]
list_square(numbers)

[1, 4, 9, 16, 25, 36]

# BUT

In [38]:
numbers=[1,2,3,4,5,6]
list(map(lambda x:x**2,numbers)) 

# map function : Applies a function to all items in a collection

[1, 4, 9, 16, 25, 36]